{% extends "base.html" %}
{% block title %}Calorie Tracker{% endblock %}

{% block content %}
<div class="max-w-4xl mx-auto py-10 px-4">
    <h1 class="text-4xl font-extrabold text-gray-900 tracking-tight mb-2">{{ message }}</h1>
    <h2 class="text-3xl font-extrabold mt-2">Total Calories: {{ total_calories }}</h2>
    <form action="{% url 'reset_calories' %}" method="post">
           {% csrf_token %}
        <button type="submit" class="w-xl mt-6 bg-pink-300 hover:bg-pink-400 text-grey-500 border font-semibold py-2 px-4 rounded-lg text-sm transition">Resset</button>
    </form>
    <form action="{% url 'contact' %}" method="post">
           {% csrf_token %}
           <input type="text" name="title" placeholder="Food item">
           <input type="number" name="calorie_amount" placeholder="Calories">
        <button type="submit" class="w-xl mt-6 bg-pink-300 hover:bg-pink-400 text-grey-500 border font-semibold py-2 px-4 rounded-lg text-sm transition">Add</button>
    </form>
    <h3>Today's Food Taken</h3>
    <table border="1" cellpadding="5">
        <thead>
            <th>Food</th>
            <th>Calories</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for item in food_items %}
            <tr >
                <td>{{ item.title}}</td>
                <td>{{ item.calorie_amount }}</td>
                <td>
                    <form action="{%  url 'delete_food' item.id %}" method="post">
                        {% csrf_token %}
    
                    <button type="submit" class="w-md mt-6 bg-pink-300 hover:bg-pink-400 text-grey-500 border font-semibold py-2 px-4 rounded-lg text-sm transition">Delete</button>
    
                    </form>
                </td>
    
            </tr>
            {% endfor %}
        </tbody>
    
    </table>
</div>
{% endblock %}