<nav class="bg-pink-700 text-white p-4 shadow-md">
    <div class="flex justify-between items-center">
        <div>
            <ul class="max-w-6xl mx-auto flex justify-between items-center ">
                <li class="px-6"><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li class="px-6"><a href="{% url 'services' %}">Services</a></li>
        
            </ul>
        </div>
    
    <div><li><a href="{% url 'contact' %}">Calorie Tracker</a></li></div>
    </div>
</nav>